/*CSS for index.html*/

.scroller {
  overflow: auto !important;;
}
.noScroll {
  overflow: hidden;
}

.btn-sample {
  color: #000;
  background-color: #F9D949;
  border-color: #F9D949;
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #000;
  background-color: #E3C643;
  border-color: #F9D949;
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #F9D949;
  border-color: #F9D949;
}

.btn-sample .badge {
  color: #F9D949;
  background-color: #000;
}


/*bank buttons*/
.btn-bank {
  color: #000000;
  background-color: #A5C882;
  border-color: #A5C882;
}

.btn-bank:hover,
.btn-bank:focus,
.btn-bank:active,
.btn-bank.active,
.open .dropdown-toggle.btn-bank {
  color: #000000;
  background-color: #A5C882;
  border-color: #A5C882;
}

.btn-bank:active,
.btn-bank.active,
.open .dropdown-toggle.btn-bank {
  background-image: none;
}

.btn-bank.disabled,
.btn-bank[disabled],
fieldset[disabled] .btn-bank,
.btn-bank.disabled:hover,
.btn-bank[disabled]:hover,
fieldset[disabled] .btn-bank:hover,
.btn-bank.disabled:focus,
.btn-bank[disabled]:focus,
fieldset[disabled] .btn-bank:focus,
.btn-bank.disabled:active,
.btn-bank[disabled]:active,
fieldset[disabled] .btn-bank:active,
.btn-bank.disabled.active,
.btn-bank[disabled].active,
fieldset[disabled] .btn-bank.active {
  background-color: #A5C882;
  border-color: #A5C882;
}

.btn-bank .badge {
  color: #A5C882;
  background-color: #000000;
}

/*button for construction */
.btn-construction {
  color: #000000;
  background-color: #5AB1BB;
  border-color: #5AB1BB;
}

.btn-construction:hover,
.btn-construction:focus,
.btn-construction:active,
.btn-construction.active,
.open .dropdown-toggle.btn-construction {
  color: #000000;
  background-color: #5AB1BB;
  border-color: #5AB1BB;
}

.btn-construction:active,
.btn-construction.active,
.open .dropdown-toggle.btn-construction {
  background-image: none;
}

.btn-construction.disabled,
.btn-construction[disabled],
fieldset[disabled] .btn-construction,
.btn-construction.disabled:hover,
.btn-construction[disabled]:hover,
fieldset[disabled] .btn-construction:hover,
.btn-construction.disabled:focus,
.btn-construction[disabled]:focus,
fieldset[disabled] .btn-construction:focus,
.btn-construction.disabled:active,
.btn-construction[disabled]:active,
fieldset[disabled] .btn-construction:active,
.btn-construction.disabled.active,
.btn-construction[disabled].active,
fieldset[disabled] .btn-construction.active {
  background-color: #5AB1BB;
  border-color: #5AB1BB;
}

.btn-construction .badge {
  color: #5AB1BB;
  background-color: #000000;
}

/*buttons for radio station */
.btn-radio {
  color: #000000;
  background-color: #C96480;
  border-color: #C96480;
}

.btn-radio:hover,
.btn-radio:focus,
.btn-radio:active,
.btn-radio.active,
.open .dropdown-toggle.btn-radio {
  color: #000000;
  background-color: #C96480;
  border-color: #C96480;
}

.btn-radio:active,
.btn-radio.active,
.open .dropdown-toggle.btn-radio {
  background-image: none;
}

.btn-radio.disabled,
.btn-radio[disabled],
fieldset[disabled] .btn-radio,
.btn-radio.disabled:hover,
.btn-radio[disabled]:hover,
fieldset[disabled] .btn-radio:hover,
.btn-radio.disabled:focus,
.btn-radio[disabled]:focus,
fieldset[disabled] .btn-radio:focus,
.btn-radio.disabled:active,
.btn-radio[disabled]:active,
fieldset[disabled] .btn-radio:active,
.btn-radio.disabled.active,
.btn-radio[disabled].active,
fieldset[disabled] .btn-radio.active {
  background-color: #C96480;
  border-color: #C96480;
}

.btn-radio .badge {
  color: #C96480;
  background-color: #000000;
}

#map {
    height: 100%;
 }
  /* Optional: Makes the sample page fill the window. */

html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body{
	letter-spacing: .015em;
	background:#000;
	height:100%;
  width:100%;
}

.title{
  font-family: 'Bungee', cursive;
  font-size: 300%;
  line-height: 100%;

}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 25px;
}
.text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

strong {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#description {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
  }

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
  }

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    margin-top: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    margin: 2%;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}
#map {
    margin-right: 400px;
}
#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}
@media print {
    #map {
      height: 500px;
      margin: 0;
    }
    #right-panel {
      float: none;
      width: auto;
    }
}
/*CSS for community.html*/

#community {
    border: 0px;
    margin: 0px;
    padding: 0px;
    position:relative;
    display: grid;
    height: 100%;
}

#radiostationDot {
    width: 20px;
    position: absolute;
    top: 66%;
    left: 25%;
    opacity: 0;
    cursor: pointer;
}

.radiostationPin {
    position: absolute;
    top: 66%;
    left: 30%;
    opacity: 1;
    cursor: pointer;
}

#bankDot {
    width: 20px;
    position: absolute;
    top: 17%;
    left: 45%;
    opacity: 0;
    cursor: pointer;
}

.bankPin {
    position: absolute;
    top: 13%;
    left: 46%;
    opacity: 1;
    cursor: pointer;
}

#constructionDot {
    width: 20px;
    position: absolute;
    top: 66%;
    left: 61%;
    opacity: 0;
    cursor: pointer;
}

.constructionPin {
    position: absolute;
    top: 64%;
    left: 67%;
    opacity: 1;
    cursor: pointer;
}

.centered {
   position: absolute;
   top: 60px;
   left: 50%;
   width: 100%;
   transform: translate(-50%, -50%);
}

.full {
  margin:0 !important;
  padding:0 !important;
}

.full-pic {
  width: 100%;
  height: auto;
}

.bottom {
   position: absolute;
   bottom: 10px;
   left: 50%;
   width: 100%;
   transform: translate(-50%, -50%);
}
/*CSS for survey.html*/

.submit {
    margin-bottom: 2%;
}

.fa-frown{
  color:#5AB1BB;
  margin: 20px;
}
.fa-meh{
  color:#C96480;
  margin: 20px;
}
.fa-smile{
  color:#A5C882;
  margin: 20px;
}

.btn.ans:focus {
  box-shadow: none !important;
  outline: 0 none !important;
}

.ans:hover {
    background-color: #E5E5E5;
}
.space {
  margin: 2%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 750px) {
p#q_block, .survey{
    font-family: 'Roboto', sans-srif;
    font-size: 40px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 749px) {
p#q_block, .survey {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
  }
}

/* CSS for interests.html*/
.card-header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 25px;
}

strong {
  font-weight: 900;
}

/* CSS for matches.html*/

.carousel-item{
  background-color: white;
}

.carousel {
    margin-top: 0%;
    margin-bottom: 5%;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.construction {
    color: #5AB1BB;
}

.radio {
    color: #C96480;
}

.bank {
    color: #A5C882;
}

.inner-card {
    margin:0;
}

.switch {
  position: absolute;
  left: 50%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #4cd964;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 25px;
}
.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}
.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}
input[type=radio] {
  display: none;
}
.switch label {
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  width: 60px;
  line-height: 50px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
label[for=yes] {
  position: absolute;
  left: 0px;
  height: 20px;
}
label[for=no] {
  position: absolute;
  right: 0px;
}
#no:checked ~ .switch {
  background: #ff3b30;
}
#no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}
#no:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}
#yes:checked ~ .switch label[for=yes] {
  color: #fff;
}
#no:checked ~ .switch label[for=no] {
  color: #fff;
}

/*CSS for survey.html*/

/*CSS for matches.html*/
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
